<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do APP</title>
    <script src="https://kit.fontawesome.com/c920cc5dc0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="outer-div">
    
    <div class="heading">
        <h1>TODO APP</h1>
    </div>
    <!-- form for task information  -->
    <div class="task-form">
        <form action="/create-task" method="POST">
        <div class="description"> 
             <label for="task-desc">Description</label>   
            <input type="text" id="task-desc" name="taskDesc" placeholder="Enter the task you want to do">
        </div>
        <div class="category">
            <label for="category">Category</label>
            <select  id="category" class="category-option" name="category">
            <option value="Choose a Category" disabled selected>Choose a category</option>
            <option value="Personal">Personal</option>
            <option value="Work">Work</option>
            <option value="College" >College</option>
            <option value="Entertainment">Personal</option>
        </select>
    </div>
        <div class="task-date">
            <label for="due-date">Date</label>
            <input type="date"  id="due-date" name="dueDate" placeholder="Due date">
        </div>
        <div class="buttons" id="add-btn">
            <button type="submit" id=sbmit-btn>
                <i class="fas fa-plus"></i>
                Add Tasks
            </button>
        </div>

        </form>    
    </div>




    <div class="show-task">
        <form action="/delete-task" method="POST">
            <div class="delete-button">
                    <div class="buttons">
                        <button type="submit" id="dlt-btn">
                            <i class="fas fa-plus"></i>
                            Delete Tasks
                        </button>
                    </div>
            </div>
        <% for (let i of todo_data) { %>

            <div class="todo-data">
                <li class="data-list" type="none">
                    <div class="final-data">

                        <div class="taskdata">
                            <label class="checkbox">
                                <input type="checkbox" value="<%= i._id %>"  name="delete_checks" /><%= i.Description %>
                            </label>
                            <h4> <i class="far fa-calendar-alt"></i> <%= i.DueDate %> </h4>
                        </div>
                        <div class="task-category"><h4><%= i.Category %></h4</div>
                    </div>
                </li>

                    </div>
        <%} %>
        </form>
    </div>
        
    </div>


    </div>

</body>
</html>